@import "../../variables.scss";

.nav-content {
  background-color: $nav-color;

  ul {
    @include navbar-ul;
    overflow: hidden;

    li {
      float: left;

      a {
        @include navbar-ul-li-a;
        padding: 14px 16px;
      }
      a:hover {
        @include navbar-ul-li-a-hover;
      }
    }
  }
}
