$header-color: #800080;
$nav-color: lightblue;
$footer-color: orange;

$light-text: #fff;
$dark-text: #000;

$dark-bg: #111;

@mixin navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin navbar-ul-li-a {
  color: $dark-text;
}

@mixin navbar-ul-li-a-hover {
  background-color: $dark-bg;
  color: $light-text;
}
